@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPickupConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraPickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOwed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartSuspensionDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndSuspensionDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPickupConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraPickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOwed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartSuspensionDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndSuspensionDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPickupDay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-primary">Confirm</a>
                <hr />
                <a asp-action="Charge" asp-route-id="@item.CustomerId" class="btn btn-danger">Charge</a>
                <hr />
                <a asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-secondary">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
